.elementor-786 .elementor-element.elementor-element-39ae06e3 {
	--display: flex;
	--min-height: 65vh;
	--flex-direction: column;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--justify-content: flex-end;
	--align-items: center;
	--background-transition: 0.3s;
	--overlay-opacity: 0.58;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	--margin-top: -10vw;
	--margin-bottom: 0vw;
	--margin-left: 0vw;
	--margin-right: 0vw;
	--padding-top: 0%;
	--padding-bottom: 15%;
	--padding-left: 0%;
	--padding-right: 0%;
}

.elementor-786 .elementor-element.elementor-element-39ae06e3::before,
.elementor-786 .elementor-element.elementor-element-39ae06e3>.elementor-background-video-container::before,
.elementor-786 .elementor-element.elementor-element-39ae06e3>.e-con-inner>.elementor-background-video-container::before,
.elementor-786 .elementor-element.elementor-element-39ae06e3>.elementor-background-slideshow::before,
.elementor-786 .elementor-element.elementor-element-39ae06e3>.e-con-inner>.elementor-background-slideshow::before,
.elementor-786 .elementor-element.elementor-element-39ae06e3>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
	background-color: #000000;
	--background-overlay: '';
}

.elementor-786 .elementor-element.elementor-element-39ae06e3,
.elementor-786 .elementor-element.elementor-element-39ae06e3::before {
	--border-transition: 0.3s;
}

.elementor-widget-heading .elementor-heading-title {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-786 .elementor-element.elementor-element-26834864.elementor-element {
	--align-self: center;
}

.elementor-786 .elementor-element.elementor-element-26834864 {
	text-align: center;
}

.elementor-786 .elementor-element.elementor-element-26834864 .elementor-heading-title {
	color: #FFFFFF;
	line-height: 15px;
	font-family: 'Poppies', sans-serif;
	font-size: 44px;
	font-weight: 500;
	text-transform: capitalize;
}

.elementor-widget-text-editor {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
	background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}

.elementor-786 .elementor-element.elementor-element-57707d19 {
	text-align: center;
	color: var(--e-global-color-a5a5bde);
	font-family: 'Poppies', sans-serif;
	font-size: 20px;
	font-weight: 250;
	line-height: 20px;
}

.elementor-786 .elementor-element.elementor-element-5ffd6071 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--align-items: center;
	--gap: 0px 20px;
	--background-transition: 0.3s;
	--padding-top: 6%;
	--padding-bottom: 6%;
	--padding-left: 0%;
	--padding-right: 0%;
}

.elementor-786 .elementor-element.elementor-element-44ee2267 {
	--display: flex;
	--min-height: 40vh;
	--flex-direction: column;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
	--align-items: flex-start;
	--background-transition: 0.3s;
}

.elementor-786 .elementor-element.elementor-element-2f38202d .elementor-heading-title {
	color: var(--e-global-color-77c266c);
	
	font-family: "Poppins", Sans-serif;
	font-size: var(--e-global-typography-e78c36a-font-size);
	font-weight: var(--e-global-typography-e78c36a-font-weight);
	line-height: var(--e-global-typography-e78c36a-line-height);
	word-spacing: var(--e-global-typography-e78c36a-word-spacing);
}

.elementor-786 .elementor-element.elementor-element-657e179f {
	color: var(--e-global-color-77c266c);
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
	border-color: var(--e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
	color: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
	fill: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
	color: var(--e-global-color-secondary);
}

.elementor-786 .elementor-element.elementor-element-dc0e4d6 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(14px/2);
}

.elementor-786 .elementor-element.elementor-element-dc0e4d6 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(14px/2);
}

.elementor-786 .elementor-element.elementor-element-dc0e4d6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(14px/2);
	margin-left: calc(14px/2);
}

.elementor-786 .elementor-element.elementor-element-dc0e4d6 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-14px/2);
	margin-left: calc(-14px/2);
}

body.rtl .elementor-786 .elementor-element.elementor-element-dc0e4d6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-14px/2);
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-dc0e4d6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-14px/2);
}

.elementor-786 .elementor-element.elementor-element-dc0e4d6 .elementor-icon-list-icon i {
	color: var(--e-global-color-3389272);
	transition: color 0.3s;
}

.elementor-786 .elementor-element.elementor-element-dc0e4d6 .elementor-icon-list-icon svg {
	fill: var(--e-global-color-3389272);
	transition: fill 0.3s;
}

.elementor-786 .elementor-element.elementor-element-dc0e4d6 {
	--e-icon-list-icon-size: 31px;
	--icon-vertical-offset: 0px;
}

.elementor-786 .elementor-element.elementor-element-dc0e4d6 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-786 .elementor-element.elementor-element-dc0e4d6 .elementor-icon-list-item>a {
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}

.elementor-786 .elementor-element.elementor-element-dc0e4d6 .elementor-icon-list-text {
	transition: color 0.3s;
}

.elementor-786 .elementor-element.elementor-element-4d57282 {
	--display: flex;
	--min-height: 40vh;
	--flex-direction: column;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
	--align-items: center;
	--background-transition: 0.3s;
}

.elementor-786 .elementor-element.elementor-element-4d57282:not(.elementor-motion-effects-element-type-background),
.elementor-786 .elementor-element.elementor-element-4d57282>.elementor-motion-effects-container>.elementor-motion-effects-layer {
background-color: #35312f;}

.elementor-786 .elementor-element.elementor-element-4d57282,
.elementor-786 .elementor-element.elementor-element-4d57282::before {
	--border-transition: 0.3s;
}

.elementor-widget-form .elementor-field-group>label,
.elementor-widget-form .elementor-field-subgroup label {
	color: var(--e-global-color-text);
}

.elementor-widget-form .elementor-field-group>label {
	font-family: "Poppins", Sans-serif;

	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-field-type-html {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-field-group .elementor-field {
	color: var(--e-global-color-text);
}

.elementor-widget-form .elementor-field-group .elementor-field,
.elementor-widget-form .elementor-field-subgroup label {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-button {
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-widget-form .e-form__buttons__wrapper__button-next {
	background-color: var(--e-global-color-accent);
}

.elementor-widget-form .elementor-button[type="submit"] {
	background-color: var(--e-global-color-accent);
}

.elementor-widget-form .e-form__buttons__wrapper__button-previous {
	background-color: var(--e-global-color-accent);
}

.elementor-widget-form .elementor-message {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-form .e-form__indicators__indicator,
.elementor-widget-form .e-form__indicators__indicator__label {
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-widget-form {
	--e-form-steps-indicator-inactive-primary-color: var(--e-global-color-text);
	--e-form-steps-indicator-active-primary-color: var(--e-global-color-accent);
	--e-form-steps-indicator-completed-primary-color: var(--e-global-color-accent);
	--e-form-steps-indicator-progress-color: var(--e-global-color-accent);
	--e-form-steps-indicator-progress-background-color: var(--e-global-color-text);
	--e-form-steps-indicator-progress-meter-color: var(--e-global-color-text);
}

.elementor-widget-form .e-form__indicators__indicator__progress__meter {
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-786 .elementor-element.elementor-element-de2a03f .elementor-field-group {
	padding-right: calc(25px/2);
	padding-left: calc(25px/2);
	margin-bottom: 20px;
}

.elementor-786 .elementor-element.elementor-element-de2a03f .elementor-form-fields-wrapper {
	margin-left: calc(-25px/2);
	margin-right: calc(-25px/2);
	margin-bottom: -20px;
}

.elementor-786 .elementor-element.elementor-element-de2a03f .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-786 .elementor-element.elementor-element-de2a03f .elementor-field-group.recaptcha_v3-bottomright {
	margin-bottom: 0;
}

body.rtl .elementor-786 .elementor-element.elementor-element-de2a03f .elementor-labels-inline .elementor-field-group>label {
	padding-left: 0px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-de2a03f .elementor-labels-inline .elementor-field-group>label {
	padding-right: 0px;
}

body .elementor-786 .elementor-element.elementor-element-de2a03f .elementor-labels-above .elementor-field-group>label {
	padding-bottom: 0px;
}

.elementor-786 .elementor-element.elementor-element-de2a03f .elementor-field-type-html {
	padding-bottom: 0px;
}

.elementor-786 .elementor-element.elementor-element-de2a03f .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
	background-color: #ffffff;
}

.elementor-786 .elementor-element.elementor-element-de2a03f .elementor-field-group .elementor-select-wrapper select {
	background-color: #ffffff;
}

.elementor-786 .elementor-element.elementor-element-de2a03f .e-form__buttons__wrapper__button-next {
	background-color: var(--e-global-color-77c266c);
	color: #ffffff;
}

.elementor-786 .elementor-element.elementor-element-de2a03f .elementor-button[type="submit"] {
	background-color: var(--e-global-color-77c266c);
	color: #ffffff;
}

.elementor-786 .elementor-element.elementor-element-de2a03f .elementor-button[type="submit"] svg * {
	fill: #ffffff;
}

.elementor-786 .elementor-element.elementor-element-de2a03f .e-form__buttons__wrapper__button-previous {
	background-color: var(--e-global-color-77c266c);
	color: #ffffff;
}

.elementor-786 .elementor-element.elementor-element-de2a03f .e-form__buttons__wrapper__button-next:hover {
	color: #ffffff;
}

.elementor-786 .elementor-element.elementor-element-de2a03f .elementor-button[type="submit"]:hover {
	color: #ffffff;
}

.elementor-786 .elementor-element.elementor-element-de2a03f .elementor-button[type="submit"]:hover svg * {
	fill: #ffffff;
}

.elementor-786 .elementor-element.elementor-element-de2a03f .e-form__buttons__wrapper__button-previous:hover {
	color: #ffffff;
}

.elementor-786 .elementor-element.elementor-element-de2a03f {
	--e-form-steps-indicators-spacing: 20px;
	--e-form-steps-indicator-padding: 30px;
	--e-form-steps-indicator-inactive-secondary-color: #ffffff;
	--e-form-steps-indicator-active-secondary-color: #ffffff;
	--e-form-steps-indicator-completed-secondary-color: #ffffff;
	--e-form-steps-divider-width: 1px;
	--e-form-steps-divider-gap: 10px;
}

.elementor-786 .elementor-element.elementor-element-a73225e {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-786 .elementor-element.elementor-element-ffea0fe iframe {
	height: 583px;
}

.elementor-786 .elementor-element.elementor-element-8f98547 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--gap: 20px 20px;
	--background-transition: 0.3s;
	--padding-top: 6%;
	--padding-bottom: 6%;
	--padding-left: 0%;
	--padding-right: 0%;
}

.elementor-786 .elementor-element.elementor-element-8f98547:not(.elementor-motion-effects-element-type-background),
.elementor-786 .elementor-element.elementor-element-8f98547>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-a5a5bde);
}

.elementor-786 .elementor-element.elementor-element-8f98547,
.elementor-786 .elementor-element.elementor-element-8f98547::before {
	--border-transition: 0.3s;
}

.elementor-786 .elementor-element.elementor-element-c5c02e5 .elementor-heading-title {
	color: var(--e-global-color-77c266c);
	font-family: "Poppins", Sans-serif;
	font-size: var(--e-global-typography-e78c36a-font-size);
	font-weight: var(--e-global-typography-e78c36a-font-weight);
	line-height: var(--e-global-typography-e78c36a-line-height);
	word-spacing: var(--e-global-typography-e78c36a-word-spacing);
}

.elementor-widget-testimonial-carousel .elementor-testimonial__text {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-testimonial-carousel .elementor-testimonial__name {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-testimonial-carousel .elementor-testimonial__title {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-786 .elementor-element.elementor-element-0431616 .elementor-swiper-button {
	font-size: 20px;
	color: var(--e-global-color-77c266c);
}

.elementor-786 .elementor-element.elementor-element-0431616 .elementor-swiper-button svg {
	fill: var(--e-global-color-77c266c);
}

.elementor-786 .elementor-element.elementor-element-0431616 .elementor-testimonial__content,
.elementor-786 .elementor-element.elementor-element-0431616 .elementor-testimonial__content:after {
	background-color: var(--e-global-color-a5a5bde);
}

.elementor-786 .elementor-element.elementor-element-0431616 .elementor-testimonial__content {
	padding: 20px 20px 20px 20px;
}

.elementor-786 .elementor-element.elementor-element-0431616.elementor-testimonial--layout-image_left .elementor-testimonial__footer,
.elementor-786 .elementor-element.elementor-element-0431616.elementor-testimonial--layout-image_right .elementor-testimonial__footer {
	padding-top: 20px;
}

.elementor-786 .elementor-element.elementor-element-0431616.elementor-testimonial--layout-image_above .elementor-testimonial__footer,
.elementor-786 .elementor-element.elementor-element-0431616.elementor-testimonial--layout-image_inline .elementor-testimonial__footer,
.elementor-786 .elementor-element.elementor-element-0431616.elementor-testimonial--layout-image_stacked .elementor-testimonial__footer {
	padding: 0 20px 0 20px;
}

.elementor-786 .elementor-element.elementor-element-0431616 .elementor-testimonial__text {
	color: var(--e-global-color-77c266c);
	font-family: "Poppins", Sans-serif;
	font-size: var(--e-global-typography-0691433-font-size);
 font-weight: 250px;
	line-height: var(--e-global-typography-0691433-line-height);
	word-spacing: var(--e-global-typography-0691433-word-spacing);
}

.elementor-786 .elementor-element.elementor-element-0431616 .elementor-testimonial__name {
	color: var(--e-global-color-77c266c);
}

.elementor-786 .elementor-element.elementor-element-0431616 .elementor-testimonial__title {
	color: var(--e-global-color-77c266c);
}

:root {
	--page-title-display: none;
}

@media(min-width:768px) {
	.elementor-786 .elementor-element.elementor-element-5ffd6071 {
		--content-width: 80%;
	}

	.elementor-786 .elementor-element.elementor-element-44ee2267 {
		--width: 50%;
	}

	.elementor-786 .elementor-element.elementor-element-4d57282 {
		--width: 50%;
	}

	.elementor-786 .elementor-element.elementor-element-a73225e {
		--content-width: 100%;
	}

	.elementor-786 .elementor-element.elementor-element-8f98547 {
		--content-width: 80%;
	}
}

@media(max-width:1024px) {
	.elementor-786 .elementor-element.elementor-element-2f38202d .elementor-heading-title {
		font-size: var(--e-global-typography-e78c36a-font-size);
		line-height: var(--e-global-typography-e78c36a-line-height);
		word-spacing: var(--e-global-typography-e78c36a-word-spacing);
	}

	.elementor-786 .elementor-element.elementor-element-c5c02e5 .elementor-heading-title {
		font-size: var(--e-global-typography-e78c36a-font-size);
		line-height: var(--e-global-typography-e78c36a-line-height);
		word-spacing: var(--e-global-typography-e78c36a-word-spacing);
	}

	.elementor-786 .elementor-element.elementor-element-0431616 .elementor-testimonial__text {
		font-size: var(--e-global-typography-0691433-font-size);
		line-height: var(--e-global-typography-0691433-line-height);
		word-spacing: var(--e-global-typography-0691433-word-spacing);
	}
}

@media(max-width:767px) {
	.elementor-786 .elementor-element.elementor-element-2f38202d .elementor-heading-title {
		font-size: var(--e-global-typography-e78c36a-font-size);
		line-height: var(--e-global-typography-e78c36a-line-height);
		word-spacing: var(--e-global-typography-e78c36a-word-spacing);
	}

	.elementor-786 .elementor-element.elementor-element-c5c02e5 .elementor-heading-title {
		font-size: var(--e-global-typography-e78c36a-font-size);
		line-height: var(--e-global-typography-e78c36a-line-height);
		word-spacing: var(--e-global-typography-e78c36a-word-spacing);
	}

	.elementor-786 .elementor-element.elementor-element-0431616 .elementor-testimonial__text {
		font-size: var(--e-global-typography-0691433-font-size);
		line-height: var(--e-global-typography-0691433-line-height);
		word-spacing: var(--e-global-typography-0691433-word-spacing);
	}
}